{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="row">
    <div class="col-md-3 bg-secondary"></div>

    <div class="col-md-9">
      <section class="row" id="latest">

        <div class="col-12">
          <h2 class="text-center m-5">Our Products</h2>
        </div>

        {% for p in products %}
        <div class="col-lg-3 col-md-4">
          <div class="card">
            <a href="{% url 'single_product' id=p.id %}">
              <img src="/media/{{ p.image }}" class="card-img-top" alt="...">
            </a>
            
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url 'single_product' id=p.id %}">
                  {{ p.name }}
                </a>
              </h5>
              <p class="card-text">NRs. {{ p.price }}</p>
              <a href="{% url 'ac' pid=p.id qty=1 %}" class="btn btn-primary">
                <i class="bi bi-cart"></i>
              </a>
              <a href="{% url 'aw' pid=p.id %}" class="btn btn-danger">
                <i class="bi bi-heart"></i>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}

      </section>
    </div>
  </div>

{% endblock %}