{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12">
        <h2 class="text-center">Wishlist Items</h2>
    </div>

    <div class="col-12 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Add to Cart</th>
                    <th>Remove</th>
                </tr>
            </thead>

            <tbody>
                {% for wl in wishlist %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'single_product' id=wl.product.id %}">
                            <img src="/media/{{ wl.product.image }}" alt="" 
                            style="height: 100px; width: 100px;">
                        </a>
                    </td>
                    <td>{{ wl.product.name }}</td>
                    <td>{{ wl.product.price }}</td>
                    <td>
                        <a href="{% url 'ac' pid=wl.product.id qty=1 %}" 
                        class="btn btn-secondary"><i class="bi bi-cart"></i></a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}